@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md4">
        <h2>PDiddy's Coupons!</h2>
    </div>
    <div id="my-select-list-container" class="col-md4">
        <select id="ddlMyOptions" class="input-large">
            <option>test 1</option>
            <option>test 2</option>
            <option>test 3</option>
            <option>test 4</option>
            <option>test 5</option>
        </select>
    </div>
</div>
